<script>
  import { beautifyDate } from "../../../date.js";
  import { Button } from "sveltestrap";
  import { push } from "svelte-spa-router";

  export let territory = {};

  const handleClick = e => {
    e.preventDefault();
    push("/territoire/" + territory.territoire_id);
  };
</script>

<style>
  i {
    cursor: pointer;
    margin: 10px;
    color: #007bff;
  }
</style>

<tr>
  <th scope="row">{territory.territoireID}</th>
  <td>{territory.territoireName}</td>
  <td>{beautifyDate(territory.assignedAt)}</td>
  <td>
    <i class="fas fa-search" on:click={handleClick} />
  </td>
</tr>
