<script>
  import Dashboard from "./routes/Dashboard.svelte";
  import Demandes from "./routes/Demandes.svelte";
  import Territoires from "./routes/Territoires.svelte";
  import Importer from "./routes/importer.svelte";

  import Router from "svelte-spa-router";
  import { link } from "svelte-spa-router";

  const routes = {
    "/": Dashboard,

    "/demandes": Demandes,

    "/territoires": Territoires,

    "/importer": Importer
  };
</script>

<style>
  :global(body) {
    display: block;
    padding: 0;
  }

  header {
    width: 250px;
    height: 100vh;
    position: fixed;
  }
  .header__links {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    background-color: #424242;
    color: white;
    height: 100%;
    padding-left: 0;
    padding-top: 100px;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
  }
  .header__links li {
    margin-bottom: 50px;
    height: 50px;
    width: 240px;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 50px;
  }

  .header__links a {
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
  }

  .header__links li:hover {
    background-color: #212121;
  }

  .main {
    padding-left: 250px;
    display: block;
  }

  i {
    margin-right: 20px;
  }
</style>

<svelte:head>
  <link
    href="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.css"
    rel="stylesheet" />

  <script src="https://unpkg.com/@turf/turf/turf.min.js">

  </script>
  <script
    src="https://kit.fontawesome.com/899ebfcecf.js"
    crossorigin="anonymous">

  </script>
</svelte:head>

<header>
  <ul class="header__links">
    <li>
      <a href="/" use:link>
        <i class="fas fa-tachometer-alt" />
        Dashboard
      </a>
    </li>
    <li>
      <a href="/territoires" use:link>
        <i class="fas fa-map-marked-alt" />
        Territoires
      </a>
    </li>
    <li>
      <a href="/importer" use:link>
        <i class="fas fa-wrench" />
        Paramètres
      </a>
    </li>
    <li>
      <a href="/demandes" use:link>
        <i class="fas fa-lock" />
        Administrateur
      </a>
    </li>
  </ul>
</header>
<div class="main">
  <Router {routes} />
</div>
