<script>
  import { Input, Button, Spinner, Alert, Table } from "sveltestrap";
  import { onMount } from "svelte";
  import { store } from "../auth.js";
  import UserCard from "./partials/Congregation/UserCard.svelte";
  import CongTableRow from "./partials/Congregation/CongTableRow.svelte";
  import { flip } from "svelte/animate";

  //States
  let userToAdd = { name: "", firstname: "", email: "", password: "" };
  let users = [];
  let isUsers = true;
  let alertMessage = "";
  let addAlertVisible = false;

  //get users from db
  const getUsers = async () => {
    const res = await fetch("http://localhost:8000/users", {
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json",
        Authorization: "Bearer " + $store.user.token
      }
    });
    const data = await res.json();

    if (res.ok) {
      return data.data;
    } else {
      throw new Error(data);
    }
  };

  //gestion de l'ajout de l'utilisateur
  const handleAddClick = async () => {
    if (
      userToAdd.name == "" ||
      userToAdd.firstname == "" ||
      userToAdd.email == "" ||
      userToAdd.password == ""
    ) {
      showAlert("Veuillez renseigner tous les éléments", true);
      return;
    }
    userToAdd.name = userToAdd.name.toUpperCase();
    userToAdd.admin = false;

    const res = await fetch("http://localhost:8000/users/", {
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json"
      },
      method: "POST",
      body: JSON.stringify(userToAdd)
    });
    if (res.ok) {
      // on efface le form
      userToAdd = { name: "", firstname: "", email: "", password: "" };
      //remise à jour de la liste des utilisateurs
      const data = await res.json();

      users = data.users;
    } else {
      showAlert("Erreur dans la création de l'utilisateur", true);
      return;
    }
  };

  //gestion de l'event Delete dans le component CongTableRow
  const handleDeleteEvent = async e => {
    const userToDeleteId = e.detail.userToDelete;
    console.log(`http://localhost:8000/users/${userToDeleteId}`);

    const res = await fetch(`http://localhost:8000/users/${userToDeleteId}`, {
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json"
      },
      method: "DELETE"
    });
    if (res.ok) {
      //remise à jour de la liste des utilisateurs avec le retour du tableau mis à jour
      const data = await res.json();
      users = data.users;
    } else {
      console.log("problème de suppression");
      return;
    }
  };

  onMount(async function() {
    users = await getUsers();
    users.length > 0 ? (isUsers = true) : (isUsers = false);
  });

  // gestion du message d'alerte à afficher
  const showAlert = (message, error = false) => {
    let alertColor = "";
    error ? (alertColor = "danger") : (alertColor = "info");

    alertMessage = message;
    addAlertVisible = true;
    setTimeout(() => {
      addAlertVisible = false;
    }, 2000);
  };
</script>

<style>
  .body-wrapper {
    padding: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  h1 {
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  .separator {
    height: 1px;
    width: 100%;
    margin-bottom: 25px;
    background-color: #9e9e9e;
  }
</style>

<div class="body-wrapper">
  <h1>
    <i class="fas fa-users" />
    Assemblée
  </h1>

  <h2>Ajouter un proclamateur</h2>
  <div class="separator" />

  <Input
    placeholder="Nom"
    type="text"
    style="margin-bottom : 20px;"
    bind:value={userToAdd.name} />
  <Input
    placeholder="Prénom"
    type="text"
    style="margin-bottom : 20px;"
    bind:value={userToAdd.firstname} />
  <Input
    placeholder="Email"
    type="email"
    style="margin-bottom : 20px;"
    bind:value={userToAdd.email} />
  <Input
    placeholder="Mot de passe"
    type="text"
    style="margin-bottom : 20px;"
    bind:value={userToAdd.password} />

  <Button
    color="primary"
    style="width : 100px; margin-bottom : 40px;"
    on:click={handleAddClick}>
    Ajouter
  </Button>
  <div class="alert-import">
    <Alert
      color="info"
      isOpen={addAlertVisible}
      toggle={() => (addAlertVisible = false)}>
      {alertMessage}
    </Alert>
  </div>

  <h2>Liste des proclamateurs</h2>
  <div class="separator" />
  {#if users.length > 0}
    <Table responsive>
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>

        {#each users as user (user._id)}
          <CongTableRow {user} on:delete={handleDeleteEvent} />
        {/each}
      </tbody>
    </Table>
  {:else}
    <div class="loader">
      {#if isUsers}
        <Spinner color="primary" />
      {:else}
        <span>Pas de proclamateurs</span>
      {/if}
    </div>
  {/if}
</div>
