<script>
  import { Spinner } from "sveltestrap";
  import { onMount, afterUpdate } from "svelte";
  import DemandCard from "./partials/Demands/DemandCard.svelte";
  import { flip } from "svelte/animate";

  let demands = [];
  let isDemands = true;

  const handleTreatedDemand = async e => {
    const demandToTreat = e.detail.demandTreated;

    demands = await deleteDemand(demandToTreat);
    if (demands.length == 0) {
      isDemands = false;
    }
  };

  const deleteDemand = async demandToTreat => {
    const res = await fetch(
      `http://localhost:8000/users/demand/${demandToTreat}`,
      {
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json"
        },
        method: "DELETE"
      }
    );

    const data = await res.json();

    if (res.ok) {
      return data.demands;
    } else {
      throw new Error(data);
    }
  };

  const getDemands = async () => {
    const res = await fetch("http://localhost:8000/users/demand", {
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json"
      }
    });

    const data = await res.json();

    if (res.ok) {
      return data.demands;
    } else {
      throw new Error(data);
    }
  };

  onMount(async function() {
    // récupères la liste des demands au serveur
    demands = await getDemands();
    //await store.set(territoires);
    demands.length > 0 ? (isDemands = true) : (isDemands = false);
  });
</script>

<style>
  .body-wrapper {
    padding: 100px;
    width: 100%;
  }
  h1 {
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 50px;
  }

  .separator {
    height: 1px;
    width: 100%;
    margin-bottom: 25px;
    background-color: #9e9e9e;
  }
</style>

<div class="body-wrapper">
  <h1>
    <i class="fas fa-tasks" />
    demandes
  </h1>

  <h2>Liste des demandes</h2>
  <div class="separator" />

  {#if demands.length > 0}
    {#each demands as demand (demand._id)}
      <div animate:flip={{ duration: 200 }}>
        <DemandCard {demand} on:treated={handleTreatedDemand} />
      </div>
    {/each}
  {:else}
    <div class="loader">
      {#if isDemands}
        <Spinner color="primary" />
      {:else}
        <span>Pas de demandes... Beau travail !</span>
      {/if}
    </div>
  {/if}

</div>
