<script>
  import { Button, Alert } from "sveltestrap";
  import { store } from "../auth.js";
  import { push } from "svelte-spa-router";
  let email = "";
  let password = "";

  //states pour l'alerte
  let alertColor = "";
  let alertMessage = "";
  let updateAlertVisible = false;

  // gestion du message d'alerte à afficher
  const showAlert = (message, error = false) => {
    error ? (alertColor = "danger") : (alertColor = "info");

    alertMessage = message;
    updateAlertVisible = true;
    setTimeout(() => {
      updateAlertVisible = false;
    }, 2000);
  };

  const handleSubmit = async e => {
    e.preventdefault;

    const res = await fetch("http://localhost:8000/users/login/", {
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json"
      },
      method: "POST",
      body: JSON.stringify({ email: email, password: password })
    });
    const data = await res.json();
    // console.log("data", data);

    if (res.status == 200) {
      //on se connecte et on stock l'user
      $store.loggedIn = true;
      $store.user = data.user;
      push("/");
    } else {
      showAlert(data.error, true);
    }
  };
</script>

<style>
  main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(#333333, #595959);
  }

  .login-box {
    height: 40%;
    width: 40%;
    background-color: #eeeeee;
    box-shadow: 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 30px;
    position: relative;
  }
  .login-box h2 {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .login-form {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  input {
    margin-bottom: 20px;
  }
  .alerte {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 0);
  }
</style>

<main>
  <div class="login-box">

    <h2>Log in</h2>

    <div class="login-form">

      <input type="email" placeholder="Email" bind:value={email} />
      <input type="password" placeholder="Mot de passe" bind:value={password} />
      <Button type="submit" color="primary" on:click={handleSubmit}>
        Se connecter
      </Button>

      <div class="alerte">
        <Alert
          color={alertColor}
          isOpen={updateAlertVisible}
          toggle={() => (updateAlertVisible = false)}>
          {alertMessage}
        </Alert>
      </div>

    </div>
  </div>

</main>
