<script>
  import { store } from "../auth.js";
  import { onMount } from "svelte";
  import { Spinner, Table, Button } from "sveltestrap";

  import TableRow from "./partials/MyAccount/TableRow.svelte";

  let territories = [];
  let isTerritories = true;

  //gestion du modal
  let openModal = false;
  const toggleModal = () => {
    openModal = !openModal;
  };

  const getMyTerritories = async () => {
    const res = await fetch(
      `http://localhost:8000/users/${$store.user.id}/territories`,
      {
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json"
        }
      }
    );
    const data = await res.json();

    if (res.ok) {
      return data.data;
    } else {
      throw new Error(data);
    }
  };

  onMount(async function() {
    territories = await getMyTerritories();
    console.log("territories", territories);
    territories.length > 0 ? (isTerritories = true) : (isTerritories = false);
  });
</script>

<style>
  .body-wrapper {
    padding: 100px;
    width: 100%;
  }
  h1 {
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  .separator {
    height: 1px;
    width: 100%;
    margin-bottom: 25px;
    background-color: #9e9e9e;
  }
</style>

<div class="body-wrapper">
  <h1>
    <i class="fas fa-user-tie" />
    Mon Compte
  </h1>

  <h2>Mes territoires</h2>
  <div class="separator" />

  <Table responsive>
    <thead>
      <tr>
        <th>#</th>
        <th>Territoire</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {#if territories.length > 0}
        {#each territories as territory}
          <TableRow {territory} />
        {/each}
      {:else}
        <div class="loader">
          {#if isTerritories}
            <Spinner color="primary" />
          {:else}
            <div>Pas de territoires</div>
          {/if}
        </div>
      {/if}
    </tbody>
  </Table>
</div>
