<script>
  import {
    Modal,
    ModalBody,
    ModalFooter,
    ModalHeader,
    Button,
    Alert
  } from "sveltestrap";

  import AddZone from "./partials/Parametres/AddZone.svelte";
  import DeleteDB from "./partials/Parametres/DeleteDB.svelte";
  import Import from "./partials/Parametres/Import.svelte";
</script>

<style>
  .body-wrapper {
    padding: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  h1 {
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
</style>

<div class="body-wrapper">
  <h1>
    <i class="fas fa-wrench" />
    Paramètres
  </h1>

  <Import />

  <AddZone />

  <DeleteDB />

</div>
