<script>
  import { onMount, afterUpdate } from "svelte";
  import { Spinner, Button } from "sveltestrap";
  import Map from "./partials/Map/Map.svelte";
  export let params = {};
  let territory = {};
  let loading = true;
  let mapStyle = "streets-v11";

  const getTerritory = async () => {
    const res = await fetch(
      `http://localhost:8000/API/territoires/${params.id}`,
      {
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json"
        }
      }
    );
    const data = await res.json();
    console.log("getTerritory -> data", data);

    if (res.status == 200) {
      loading = false;
      return data.data;
    } else {
      throw error;
    }
  };

  afterUpdate(async function() {
    const polygon = turf.polygon(territory.coordinates);

    const bbox = turf.bbox(polygon);

    var features = turf.featureCollection([polygon]);
    const center = turf.center(features);
    mapboxgl.accessToken =
      "pk.eyJ1Ijoic3BydGNrIiwiYSI6ImNrOWlqc252ZTAzbjEzbHA1MzhoOHEwMzIifQ.hM9kiu9wtEjuvZHpIDPdbA";
    var map = new mapboxgl.Map({
      container: "map", // container id
      style: "mapbox://styles/mapbox/" + mapStyle, // stylesheet location
      center: center.geometry.coordinates, // starting position [lng, lat]
      zoom: 16, // starting zoom
      preserveDrawingBuffer: true
    });
    map.on("load", function() {
      map.addSource("maine", {
        type: "geojson",
        data: {
          type: "Feature",
          geometry: {
            type: "Polygon",
            coordinates: territory.coordinates
          }
        }
      });
      map.addLayer({
        id: "maine",
        type: "fill",
        source: "maine",
        layout: {},
        paint: {
          "fill-color": "#088",
          "fill-opacity": 0.4
        }
      });
      map.fitBounds(bbox, { padding: 20 });
    });
  });
  // print function to print only the body wrapper
  function handlePrint() {
    window.print();
  }

  onMount(async function() {
    territory = await getTerritory();
  });
</script>

<style>
  .body-wrapper {
    padding: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  h1 {
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  .map {
    width: 100%;
    height: 500px;
    position: relative;
  }
  #menu {
    position: absolute;
    background-color: #eeeeee;
    padding: 3px;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    z-index: 100;
  }

  #print-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 100;
    cursor: pointer;
  }

  .territory-content {
    display: flex;
    flex-direction: column;
    font-size: 16px;
  }
  .territory-content span {
    margin: 10px;
  }

  .btns {
    display: flex;
    justify-content: flex-end;
  }

  @page {
    size: auto;
    margin: 0mm;
  }

  @media print {
    #print-btn {
      display: none;
    }
    #menu {
      display: none;
    }
    .btns {
      display: none;
    }
  }
</style>

<main>
  <div class="body-wrapper" id="body-wrapper">
    {#if !loading}
      <h1>
        <i class="fas fa-map" />
        {territory.territoireName}
      </h1>

      <div id="map" class="map">

        <i class="fas fa-print fa-3x" id="print-btn" on:click={handlePrint} />

        <div id="menu">
          <label>
            <input type="radio" bind:group={mapStyle} value="streets-v11" />
            Streets
          </label>
          <label>
            <input type="radio" bind:group={mapStyle} value="satellite-v9" />
            Satellite
          </label>
        </div>
      </div>
      <div class="territory-content">
        <span>ID : {territory.territoireID}</span>
        <span>Nom : {territory.territoireName}</span>
        <span>Nombre de boites : {territory.numberBoites}</span>
        <span>Zone : {territory.zone}</span>
        <div class="btns">
          <Button color="primary">Rendre</Button>
          <Button style="margin-left : 10px" color="danger">
            Rendre non travaillé
          </Button>
        </div>
      </div>
    {:else}
      <Spinner color="primary" />
    {/if}
  </div>
</main>
