<script>
  import { onMount } from "svelte";
  import mapboxgl from "mapbox-gl";
  import TerritoriesList from "./partials/Territoires/TerritoriesList.svelte";
  import MapOverview from "./partials/Map/MapOverview.svelte";
  import Map from "./partials/Map/Map.svelte";
  import { Spinner } from "sveltestrap";
  import { beforeUpdate, afterUpdate } from "svelte";
  import { store } from "../auth.js";

  let isTerritoires = true;
  let territoires = [];

  //get territoires from API return data if res.OK
  const getTerritoires = async () => {
    const res = await fetch("http://localhost:8000/API/territoires", {
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json",
        Authorization: "Bearer " + $store.user.token
      }
    });
    const data = await res.json();

    if (res.ok) {
      return data.data;
    } else {
      throw new Error(data);
    }
  };

  //function called to update territoires and check lenght of array
  const updateTerritoires = async () => {};

  //update event dispatcher handler
  const handleUpdate = async () => {
    territoires = await getTerritoires();
    //console.log("handleUpdate -> territoires", territoires);
    //store.set(territoires);
  };

  // On Mount
  onMount(async function() {
    // get territories on the API
    territoires = await getTerritoires();
    //await store.set(territoires);
    territoires.length > 0 ? (isTerritoires = true) : (isTerritoires = false);
  });
</script>

<style>
  .body-wrapper {
    padding: 100px;
    width: 100%;
  }
  h1 {
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  .loader {
    margin-bottom: 50px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .map-overview {
    margin-bottom: 50px;
    height: 500px;
  }

  .separator {
    height: 1px;
    width: 100%;
    margin-bottom: 25px;
    background-color: #9e9e9e;
  }
</style>

<div class="body-wrapper">
  <h1>
    <i class="fas fa-map-marked-alt" />
    Territoire
  </h1>
  {#if territoires.length > 0}
    <div class="map-overview">
      <MapOverview {territoires} />
    </div>

    <h2>Liste des territoires</h2>
    <div class="separator" />
    <TerritoriesList {territoires} on:update={handleUpdate} />
  {:else}
    <div class="loader">
      {#if isTerritoires}
        <Spinner color="primary" />
      {:else}
        <span>
          Pas de territoires importés : aller à
          <a href="#/importer">Importer</a>
        </span>
      {/if}
    </div>
  {/if}

</div>
