<script>
  import MapOverview from "./partials/Map/MapOverview.svelte";
  import {
    Button,
    Alert,
    FormGroup,
    CustomInput,
    Label,
    Spinner
  } from "sveltestrap";
  import { store } from "../auth.js";
  import { onMount } from "svelte";

  let territoires = [];
  let isTerritoires = true;

  let color = "";
  let demandAlertVisible = false;
  let alertMessage = "";
  let demande = "";

  // gestion des territoires libres
  let freeTerritories = [];
  let choosenTerritory_id = "";
  let isFreeTerritories = true;

  //get territoires from API return data if res.OK
  const getTerritoires = async () => {
    const res = await fetch("http://localhost:8000/API/territoires", {
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json"
      }
    });
    const data = await res.json();

    if (res.ok) {
      return data.data;
    } else {
      throw new Error();
    }
  };

  // On Mount
  onMount(async function() {
    // get territories on the API
    territoires = await getTerritoires();

    territoires.length > 0 ? (isTerritoires = true) : (isTerritoires = false);
    // get territories on the API
    freeTerritories = await getFreeTerritories();
    //await store.set(territoires);
    freeTerritories.length > 0
      ? (isFreeTerritories = true)
      : (isFreeTerritories = false);
  });

  const getFreeTerritories = async () => {
    const res = await fetch("http://localhost:8000/API/territoires/free", {
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json"
      }
    });
    const data = await res.json();
    console.log(data);

    if (res.ok) {
      return data.data;
    } else {
      throw new Error(data);
    }
  };

  const submitDemand = async () => {
    if (demande !== "") {
      //console.log($store.user);

      const newDemande = {
        user_email: $store.user.email,
        message: demande,
        name: $store.user.name,
        firstname: $store.user.firstname,
        territoire_id: choosenTerritory_id ? choosenTerritory_id : null,
        user_id: $store.user.id
      };
      const res = await fetch("http://localhost:8000/users/demand", {
        headers: {
          "Content-Type": "application/json"
        },
        method: "POST",
        body: JSON.stringify(newDemande)
      });
      if (res.status === 201) {
        showAlert("Votre demande a été envoyée");
        demande = "";
      } else {
        showAlert("une erreur est survenue lors de l'envoi", true);
      }
    } else {
      showAlert("Veuillez renseigner votre demande", true);
    }
  };

  // gestion du message d'alerte à afficher
  const showAlert = (message, error = false) => {
    error ? (color = "danger") : (color = "info");
    alertMessage = message;
    demandAlertVisible = true;
    setTimeout(() => {
      demandAlertVisible = false;
    }, 2000);
  };
</script>

<style>
  .body-wrapper {
    padding: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  h1 {
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 50px;
  }

  .map-overview {
    margin-bottom: 50px;
    height: 500px;
  }

  .separator {
    height: 1px;
    width: 100%;
    margin-bottom: 25px;
    background-color: #9e9e9e;
  }
</style>

<div class="body-wrapper">
  <h1>
    <i class="fas fa-globe-europe" />
    Territoire
  </h1>
  {#if territoires.length > 0}
    <div class="map-overview">
      <MapOverview {territoires} />
    </div>

    <h2>Faire une demande</h2>
    <div class="separator" />
    <textarea
      name="textarea"
      id=""
      cols="30"
      rows="10"
      placeholder="Renseignez vos attentes ici..."
      bind:value={demande} />

    {#if freeTerritories.length > 0}
      <FormGroup>
        <Label for="exampleCustomSelect">
          Demander un territoire en particulier :
        </Label>
        <CustomInput
          type="select"
          id="exampleCustomSelect"
          name="customSelect"
          bind:value={choosenTerritory_id}>
          <option value="">Territoires libres</option>
          {#each freeTerritories as territoire}
            <option value={territoire._id}>
              {territoire.territoireID} - {territoire.territoireName}
            </option>
          {/each}
        </CustomInput>
      </FormGroup>
    {:else}
      <div class="loader">
        {#if isFreeTerritories}
          <Spinner color="primary" />
        {:else}
          <span>Pas de territoires libres</span>
        {/if}
      </div>
    {/if}

    <Button style=" width : 100px;" color="primary" on:click={submitDemand}>
      Demander
    </Button>

    <div class="alert">
      <Alert
        {color}
        isOpen={demandAlertVisible}
        toggle={() => (demandAlertVisible = false)}>
        {alertMessage}
      </Alert>
    </div>
  {:else}
    <div class="loader">
      {#if isTerritoires}
        <Spinner color="primary" />
      {:else}
        <span>Pas de territoires importés</span>
      {/if}
    </div>
  {/if}
</div>
