<script>
  export let params = {};
  import { Input, Label } from "sveltestrap";
  import { onMount } from "svelte";
  import { Button } from "sveltestrap";

  let newPassword = "";
  let newSecondPassword = "";
  let user = {};

  const getUser = async () => {
    const res = await fetch(`http://localhost:8000/users/${params.id}`, {
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json"
      }
    });
    const data = await res.json();

    if (res.status == 200) {
      user = data.user;
    } else {
      throw error;
    }
  };

  const handleModifyUserInfos = () => {
    let userToModify = user;
    delete userToModify["password"];
    if (userToModify.name && userToModify.firstname && userToModify.email) {
      userToModify.name = userToModify.name.toUpperCase;
      alert(JSON.stringify(userToModify));
    } else {
      alert("vide");
    }
  };

  const handleModifyPassword = () => {
    if (newPassword && newSecondPassword) {
      if (newPassword === newSecondPassword) {
        alert("les deux sont égaux");
      } else {
        alert("les mots de passes ne sont pas égaux");
      }
    } else {
      alert("il faut remplir les deux champs");
    }
  };

  onMount(async function() {
    await getUser();
  });
</script>

<style>
  .body-wrapper {
    padding: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  h1 {
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  .separator {
    height: 1px;
    width: 100%;
    margin-bottom: 25px;
    background-color: #9e9e9e;
  }
  .input {
    margin-bottom: 20px;
    width: 40%;
  }
</style>

<div class="body-wrapper">
  <h1>
    <i class="fas fa-user" />
    {user.firstname} {user.name}
  </h1>

  <h2>Informations du proclamateur</h2>
  <div class="separator" />

  <div class="input">
    <Label>Nom</Label>
    <Input type="text" bind:value={user.name} />
  </div>

  <div class="input">
    <label>Prénom</label>
    <Input type="text" bind:value={user.firstname} />
  </div>

  <div class="input">
    <Label>Email</Label>
    <Input type="email" bind:value={user.email}>{user.email}</Input>
  </div>

  <Button
    color="primary"
    style="width: 200px; margin-bottom:20px;"
    on:click={handleModifyUserInfos}>
    Modifier
  </Button>

  <h2>Modifier le mot de passe</h2>
  <div class="separator" />

  <div class="input">
    <Label>Nouveau mot de passe</Label>
    <Input
      type="password"
      autocomplete="new-password"
      bind:value={newPassword} />
  </div>

  <div class="input">
    <Label>Saisir à nouveau le mot de passe</Label>
    <Input
      type="password"
      autocomplete="new-password"
      bind:value={newSecondPassword} />
  </div>

  <Button color="primary" style="width: 200px;" on:click={handleModifyPassword}>
    Modifier
  </Button>

</div>
