<script>
  import { onMount, afterUpdate } from "svelte";
  import mapboxgl from "mapbox-gl";
  export let idMap = "";
  export let polygonCoordinates = [];

  //initial layer state
  let mapStyle = "streets-v11";

  afterUpdate(async function() {
    mapboxgl.accessToken =
      "pk.eyJ1Ijoic3BydGNrIiwiYSI6ImNrOWlqc252ZTAzbjEzbHA1MzhoOHEwMzIifQ.hM9kiu9wtEjuvZHpIDPdbA";

    if (polygonCoordinates.length > 0) {
      const polygon = turf.polygon(polygonCoordinates);

      const bbox = turf.bbox(polygon);

      var features = turf.featureCollection([polygon]);
      const center = turf.center(features);

      const map = new mapboxgl.Map({
        container: "map" + idMap,
        style: `mapbox://styles/mapbox/${mapStyle}`,
        zoom: 16,
        center: center.geometry.coordinates
      });
      map.on("load", function() {
        map.addSource("maine", {
          type: "geojson",
          data: {
            type: "Feature",
            geometry: {
              type: "Polygon",
              coordinates: polygonCoordinates
            }
          }
        });
        map.addLayer({
          id: "maine",
          type: "fill",
          source: "maine",
          layout: {},
          paint: {
            "fill-color": "#088",
            "fill-opacity": 0.4
          }
        });
        map.fitBounds(bbox, { padding: 20 });
      });
    }
  });
</script>

<style>
  .map {
    width: 100%;
    height: 100%;
    position: relative;
  }
  #menu {
    position: absolute;
    background-color: #eeeeee;
    padding: 3px;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    z-index: 100;
  }
</style>

<div id={'map' + idMap} class="map">
  <div id="menu">
    <label>
      <input type="radio" bind:group={mapStyle} value="streets-v11" />
      Streets
    </label>
    <label>
      <input type="radio" bind:group={mapStyle} value="satellite-v9" />
      Satellite
    </label>
  </div>
</div>
