<script>
  import { onMount } from "svelte";
  import mapboxgl from "mapbox-gl";
  import { afterUpdate } from "svelte";
  import { store } from "../../../auth.js";
  import { Alert } from "sveltestrap";

  let demandAlertVisible = false;
  let alertMessage = "";

  let mapStyle = "streets-v11";

  // gestion du message d'alerte à afficher
  const showAlert = (message, error = false) => {
    let alertColor = "";
    error ? (alertColor = "danger") : (alertColor = "info");

    alertMessage = message;
    demandAlertVisible = true;
    setTimeout(() => {
      demandAlertVisible = false;
    }, 2000);
  };

  afterUpdate(() => {
    if (territoires.length > 0) {
      mapboxgl.accessToken =
        "pk.eyJ1Ijoic3BydGNrIiwiYSI6ImNrOWlqc252ZTAzbjEzbHA1MzhoOHEwMzIifQ.hM9kiu9wtEjuvZHpIDPdbA";
      const map = new mapboxgl.Map({
        container: "map",
        style: "mapbox://styles/mapbox/" + mapStyle,
        center: [4.8288023471832275, 45.73521210986779],
        zoom: 14
      });
      // Add zoom and rotation controls to the map.
      map.addControl(new mapboxgl.NavigationControl());

      //init polygon collection to set map
      const polygonsCollection = getPolygonsCollection(territoires);

      const polygonsLayer = {
        type: "geojson",
        data: {
          type: "FeatureCollection",
          features: polygonsCollection
        }
      };

      map.on("load", function() {
        map.addSource("territoires", polygonsLayer);

        map.addLayer({
          id: "territoires-not-assigned-border",
          type: "line",
          source: "territoires",
          paint: {
            "line-color": GREEN,
            "line-width": 3,
            "line-opacity": 0.8
          },
          filter: ["==", "assigned", false]
        });

        map.addLayer({
          id: "territoires-assigned-border",
          type: "line",
          source: "territoires",
          paint: {
            "line-color": RED,
            "line-width": 3,
            "line-opacity": 0.8
          },
          filter: ["==", "assigned", true]
        });

        map.addLayer({
          id: "territoires-assigned",
          type: "fill",
          source: "territoires",
          paint: {
            "fill-color": RED,
            "fill-opacity": 0.4,
            "fill-outline-color": RED
          },
          filter: ["==", "assigned", true]
        });

        map.addLayer({
          id: "territoires-not-assigned",
          type: "fill",
          source: "territoires",
          paint: {
            "fill-color": GREEN,
            "fill-opacity": 0.4,
            "fill-outline-color": GREEN
          },
          filter: ["==", "assigned", false]
        });

        //handle click on territory assigned
        map.on("click", "territoires-assigned", function(e) {
          //find center of polygon
          const polygon = turf.polygon(e.features[0].geometry.coordinates);
          const bbox = turf.bbox(polygon);
          const features = turf.featureCollection([polygon]);
          const center = turf.center(features);

          const description =
            "<h6>" +
            e.features[0].properties.name +
            "</h6>" +
            "ID : " +
            e.features[0].properties.id +
            "<br />" +
            "Zone : " +
            e.features[0].properties.zone +
            "<br/>" +
            "Non disponible";

          // create an element with the popup content
          var div = window.document.createElement("div");
          div.innerHTML = description;
          div.style.width = "200px";

          // set the pop up at the center with description = name
          new mapboxgl.Popup()
            .setLngLat(center.geometry.coordinates)
            .setDOMContent(div)
            .addTo(map);
        });

        //Handle click on territories not assigned
        map.on("click", "territoires-not-assigned", function(e) {
          const polygon = turf.polygon(e.features[0].geometry.coordinates);
          const bbox = turf.bbox(polygon);
          const features = turf.featureCollection([polygon]);
          const center = turf.center(features);

          let popup = new mapboxgl.Popup();

          const description =
            "<h6>" +
            e.features[0].properties.name +
            "</h6>" +
            "<div> ID : " +
            e.features[0].properties.id +
            "</div>" +
            "<div> Zone : " +
            e.features[0].properties.zone +
            "</div>" +
            "<div><button> Demander </button></div>";

          var div = window.document.createElement("div");
          div.style.display = "block";
          div.style.width = "200px";
          div.innerHTML = description;
          let divButton = div.lastChild;
          //center the button inside the div
          divButton.style.display = "flex";
          divButton.style.justifyContent = "center";

          let button = divButton.firstChild;
          button.style.margin = "10px 0 0 0";

          const territory_id = e.features[0].properties._id;

          button.onclick = async function() {
            try {
              const newDemande = {
                user_email: $store.user.email,
                message: "Demande rapide",
                name: $store.user.name,
                firstname: $store.user.firstname,
                territoire_id: territory_id,
                user_id: $store.user.id
              };

              const res = await fetch("http://localhost:8000/users/demand", {
                headers: {
                  "Content-Type": "application/json"
                },
                method: "POST",
                body: JSON.stringify(newDemande)
              });

              popup.setHTML("demande bien envoyée");
            } catch (error) {
              popup.setHTML("erreur de demande");
            }
          };

          popup
            .setLngLat(center.geometry.coordinates)
            .setDOMContent(div)
            .addTo(map);
        });

        // Change the cursor to a pointer when the mouse is over the places layer.

        map.on("mouseenter", "territoires-assigned", function() {
          map.getCanvas().style.cursor = "pointer";
        });

        // Change it back to a pointer when it leaves.
        map.on("mouseleave", "territoires-assigned", function() {
          map.getCanvas().style.cursor = "";
        });

        // Change the cursor to a pointer when the mouse is over the places layer.
        map.on("mouseenter", "territoires-not-assigned", function() {
          map.getCanvas().style.cursor = "pointer";
        });

        // Change it back to a pointer when it leaves.
        map.on("mouseleave", "territoires-not-assigned", function() {
          map.getCanvas().style.cursor = "";
        });
      });
    }
  });

  //color definition
  const RED = "#FF0000";
  const GREEN = "#008000";
  export let territoires = [];

  // return geojson polygon with coordinates parameter
  const getPolygon = (id, name, coordinates, assigned, zone = "", _id) => {
    const polygon = {
      type: "Feature",
      properties: {
        _id: _id,
        id: id,
        assigned: assigned,
        name: name,
        zone: zone
      },
      geometry: {
        type: "Polygon",
        coordinates: coordinates
      }
    };

    return polygon;
  };

  //takes an array of territories and return GeoJSON with collection of all polygons
  const getPolygonsCollection = territoiresArray => {
    let polygonsArray = [];

    territoiresArray.forEach(territoire => {
      const polygon = getPolygon(
        territoire.territoireID,
        territoire.territoireName,
        territoire.coordinates,
        territoire.assigned,
        territoire.zone,
        territoire._id
      );
      polygonsArray.push(polygon);
    });
    return polygonsArray;
  };

  onMount(async function() {
    console.log("onMount");
  });
</script>

<style>
  #map {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: #eeeeee;
    position: relative;
  }

  #menu {
    position: absolute;
    background-color: #eeeeee;
    padding: 10px;
    bottom: 0;
    right: 0;
    z-index: 100;
  }

  .alert-demand {
    position: absolute;
    bottom: 0;
    left: 0;
  }
</style>

<div id="map">
  <div id="menu">
    <label>
      <input type="radio" bind:group={mapStyle} value="streets-v11" />
      Streets
    </label>
    <label>
      <input type="radio" bind:group={mapStyle} value="satellite-v9" />
      Satellite
    </label>
  </div>

  <div class="alert-demand">
    <Alert
      color="info"
      isOpen={demandAlertVisible}
      toggle={() => (demandAlertVisible = false)}>
      {alertMessage}
    </Alert>
  </div>
</div>
