<script>
  export let user = {};
  import { push } from "svelte-spa-router";
  import { createEventDispatcher } from "svelte";
  import { slide, fly } from "svelte/transition";
  const dispatch = createEventDispatcher();

  const handleEditBtn = () => {
    push("/proclamateur/" + user._id);
  };

  function handleDeleteBtn() {
    dispatch("delete", {
      userToDelete: user._id
    });
  }
</script>

<style>
  i {
    cursor: pointer;
    margin: 10px;
  }
</style>

<tr>
  <th
    in:fly|local={{ x: 200, duration: 1000 }}
    out:fly|local={{ x: -200, duration: 1000 }}
    scope="row">
    {user.name}
  </th>
  <td
    in:fly|local={{ x: 200, duration: 1000 }}
    out:fly|local={{ x: -200, duration: 1000 }}>
    {user.firstname}
  </td>
  <td
    in:fly|local={{ x: 200, duration: 1000 }}
    out:fly|local={{ x: -200, duration: 1000 }}>
    {user.email}
  </td>
  <td
    in:fly|local={{ x: 200, duration: 1000 }}
    out:fly|local={{ x: -200, duration: 1000 }}>
    <div class="btns">
      <i class="fas fa-edit" style="color: #007bff" on:click={handleEditBtn} />
      <i
        class="fas fa-times-circle"
        style="color : #dc3545;"
        on:click={handleDeleteBtn} />
    </div>
  </td>

</tr>
