<script>
  import { fly } from "svelte/transition";
  import { createEventDispatcher } from "svelte";
  import { push } from "svelte-spa-router";
  const dispatch = createEventDispatcher();

  export let user = {};

  function handleDeleteBtn() {
    dispatch("delete", {
      userToDelete: user._id
    });
  }

  const handleEditBtn = () => {
    push("/proclamateur/" + user._id);
  };
</script>

<style>
  .user-box {
    display: flex;
    flex-direction: column;
  }

  .user {
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #9e9e9e;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
  }
  span {
    width: 500px;
  }
  .btns {
    position: absolute;
    width: 40px;
    display: flex;
    justify-content: space-between;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    display: flex;
    top: 50%;
    right: -30px;
    background-color: white;
    cursor: pointer;
  }
  .btns i {
    border-radius: 50%;
  }
</style>

<div class="user-box">
  <div class="user">
    <span class="name">{user.name}</span>
    <span class="firstname">{user.firstname}</span>
    <span class="email">{user.email}</span>
    <div class="btns">
      <i class="fas fa-edit" style="color: #007bff" on:click={handleEditBtn} />
      <i
        class="fas fa-times-circle"
        style="color : #dc3545;"
        on:click={handleDeleteBtn} />
    </div>
  </div>

</div>
