<script>
  import {
    Button,
    Card,
    CardBody,
    CardFooter,
    CardHeader,
    CardImg,
    CardSubtitle,
    CardText,
    CardTitle
  } from "sveltestrap";

  import { onMount, afterUpdate } from "svelte";
  import { store } from "../../../auth.js";
  import { fly } from "svelte/transition";
  import { createEventDispatcher } from "svelte";
  const dispatch = createEventDispatcher();

  export let demand = {};

  let deleted = "";

  const d = new Date(demand.date);
  const day = d.getDate() < 10 ? "0" + d.getDate() : d.getDate();
  const month =
    d.getMonth() + 1 < 10 ? "0" + (d.getMonth() + 1) : d.getMonth() + 1;
  const year = d.getFullYear();
  const fullDate = day + "/" + month + "/" + year;

  // territoire demandé
  let chosenTerritory = {};

  const getTerritoryNameById = async () => {
    const res = await fetch(
      `http://localhost:8000/API/territoires/${demand.territoire_id}`,
      {
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
          Authorization: "Bearer " + $store.user.token
        }
      }
    );
    const data = await res.json();

    if (res.ok) {
      return data.data;
    } else {
      throw new Error(data);
    }
  };

  const handleOK = () => {
    dispatch("treated", {
      demandTreated: demand._id
    });
  };

  const handleQuickAssignment = async () => {
    const res = await fetch(
      `http://localhost:8000/users/${demand.user_id}/${demand.territoire_id}`,
      {
        headers: {
          "Content-Type": "application/json"
        },
        method: "POST"
      }
    );

    const data = await res.json();

    if (res.ok) {
      dispatch("treated", {
        demandTreated: demand._id
      });
    } else {
      throw error;
    }
  };

  onMount(async function() {});

  afterUpdate(async function() {
    if (demand.territoire_id) {
      chosenTerritory = await getTerritoryNameById();
    }
  });
</script>

<style>
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  main {
    box-shadow: 0px 0px 10px #eeeeee;
  }

  .card-content {
    display: flex;
    justify-content: space-between;
  }
</style>

<main>

  <Card class="mb-3">
    <CardHeader>
      <CardTitle color="primary">
        <div class="title">
          <div>
            {fullDate} - {demand.firstname} {demand.name}
            {#if demand.territoire_id}
              - territoire demandé : {chosenTerritory.territoireName}
            {/if}
          </div>
          <Button color="primary" on:click={handleOK}>
            <i class="fas fa-check" />
          </Button>
        </div>

      </CardTitle>
    </CardHeader>
    <CardBody>
      <CardSubtitle />
      <CardText>
        <div class="card-content">
          {demand.message}
          {#if demand.territoire_id}
            <Button color="primary" on:click={handleQuickAssignment}>
              Assigner rapidement
            </Button>
          {/if}
        </div>
      </CardText>
    </CardBody>
  </Card>

</main>
