<script>
  import {
    UncontrolledCollapse,
    Button,
    CardBody,
    Card,
    Spinner,
    Alert,
    Form,
    CustomInput,
    FormGroup,
    FormText,
    Input,
    Label
  } from "sveltestrap";

  import Map from "../Map/Map.svelte";
  import { createEventDispatcher } from "svelte";
  import { onMount } from "svelte";
  import { store } from "../../../auth.js";

  /////////////props///////////////
  export let territoire = {};
  export let index;

  /////////////state////////////////

  //Copie du territoire
  let territoireCopy = territoire;
  // gestion de l'ouverture dans l'accordéon
  let isOpen = false;
  let status = "";
  // gestion des éléments lors de la modification
  let alertMessage = "";
  let updateAlertVisible = false;
  let charging = false;
  //selection de la zone ou quartier
  let zones = [];
  let zoneSelected = territoire.zone ? territoire.zone : "";
  //couleur du message d'alerte : info par défaut
  let alertColor = "info";

  //OnMount
  onMount(async function() {
    zones = await getZones();
  });

  function handleClick(e) {
    e.preventDefault();
    isOpen = !isOpen;
    isOpen ? (status = "active") : (status = "");
  }

  // gestion du message d'alerte à afficher
  const showAlert = (message, error = false) => {
    error ? (alertColor = "danger") : (alertColor = "info");

    alertMessage = message;
    updateAlertVisible = true;
    setTimeout(() => {
      updateAlertVisible = false;
    }, 2000);
  };

  // fetch des zones qu'on va instancier dans onMount()
  const getZones = async () => {
    const res = await fetch("http://localhost:8000/API/territoires/zones", {
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json"
      }
    });
    const data = await res.json();
    //console.log("getZones -> data", data);

    if (res.ok) {
      return data.zones;
    } else {
      throw new Error(data);
    }
  };

  const handleZoneSelectChange = e => {
    e.preventDefault;
    zoneSelected = e.target.value;
    territoireCopy.zone = zoneSelected;
  };

  // Update du territoire
  async function handleClickUpdateTerritoire(e) {
    e.preventDefault();
    // gestion de disabled et du spinner lors de l
    charging = true;

    //verification si les données sont valides :
    if (territoireCopy.territoireID && territoireCopy.territoireName) {
      //PUT du contenu de territoire en fonction de son _id mongodb

      const res = await fetch(
        `http://localhost:8000/API/territoires/${territoire._id}`,
        {
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
            Authorization: "Bearer " + $store.user.token
          },
          method: "PUT",
          body: JSON.stringify(territoire)
        }
      );
      if (res.status == 200) {
        showAlert("territoire modifié");
        // MAJ du territoire sauvegardé
        territoire = territoireCopy;
      } else {
        showAlert("problème serveur", true);
      }
    } else showAlert("l'id et le nom doivent être renseignés", true);

    charging = false;
  }
</script>

<style>
  .card-header {
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }

  .card-header-content span {
    margin-right: 50px;
  }
  .card-body {
    width: 100%;
    display: block;
  }

  .active i {
    transform: rotate(-180deg);
  }

  i {
    transition: 0.2s;
  }
  .card-territory {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .card-map {
    width: 400px;
    height: 300px;
    position: relative;
  }

  .edit-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  .alerte {
    position: absolute;
    bottom: 0;
    left: 20px;
  }
</style>

<div
  class={'card-header ' + status}
  id={'toggler' + index}
  on:click={handleClick}>
  <div class="card-header-content">
    <span>
      <strong>ID :</strong>
      {territoire.territoireID}
    </span>
    <span>
      <strong>Nom :</strong>
      {territoire.territoireName}
    </span>
  </div>
  <i class="fas fa-sort-down" />
</div>
<div class="card-body">
  <UncontrolledCollapse toggler={'#toggler' + index}>
    <Card body>
      <div class="card-territory">
        <div class="card-content">
          <div class="territory-content">ID :</div>
          <input
            bind:value={territoireCopy.territoireID}
            disabled={charging}
            type="number" />
          <br />
          <div class="territory-content">Nom :</div>
          <input
            bind:value={territoireCopy.territoireName}
            disabled={charging} />
          <br />
          <div class="territory-content">Nombre de boites :</div>
          <input
            bind:value={territoireCopy.numberBoites}
            disabled={charging}
            type="number" />
          {#if zones.length > 0}
            <div class="zoneSelection">
              <FormGroup>
                <Label for="exampleCustomSelect">Zone/Quartier :</Label>
                <br />
                <CustomInput
                  type="select"
                  class="zone-select"
                  bind:value={zoneSelected}
                  on:change={handleZoneSelectChange}>
                  <option value="" />
                  {#each zones as zone}
                    <option value={zone}>{zone}</option>
                  {/each}
                </CustomInput>
              </FormGroup>
            </div>
          {/if}
        </div>
        <div class="card-map">
          <Map idMap={index} polygonCoordinates={territoire.coordinates} />
        </div>
      </div>
      <div class="edit-button">
        <Button
          style="width:120px;"
          color="danger"
          disabled={charging}
          on:click={handleClickUpdateTerritoire}
          Block>
          {#if !charging}
            Sauvegarder
          {:else}
            <Spinner color="light" size="sm" />
          {/if}
        </Button>
      </div>
      <div class="alerte">
        <Alert
          color={alertColor}
          isOpen={updateAlertVisible}
          toggle={() => (updateAlertVisible = false)}>
          {alertMessage}
        </Alert>
      </div>

    </Card>
  </UncontrolledCollapse>
</div>
