<script>
  import { UncontrolledCollapse, Button, CardBody, Card } from "sveltestrap";
  import CardAccordion from "./CardAccordion.svelte";

  let isOpen = false;

  //Props
  export let territoires;
</script>

<style>

</style>

{#each territoires as territoire, i}
  <CardAccordion {territoire} index={i} on:update />
{/each}
