<script>
  import { Button } from "sveltestrap";
  import { afterUpdate } from "svelte";
  import { onMount } from "svelte";
  import { store } from "../../../auth.js";

  let zoneToAdd = "";
  let zones = [];

  const getZones = async () => {
    const res = await fetch("http://localhost:8000/API/territoires/zones", {
      headers: { Authorization: "Bearer " + $store.user.token }
    });
    const data = await res.json();

    if (res.ok) {
      return data.zones;
    } else {
      throw new Error(data);
    }
  };

  // gestion du clic ajout d'une zone
  const addZoneHandleClick = async () => {
    if (zoneToAdd) {
      zones = [...zones, zoneToAdd];
      zoneToAdd = "";

      let zonesToSend = JSON.stringify({ zones: zones });

      await fetch("http://localhost:8000/API/territoires/zones", {
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
          Authorization: "Bearer " + $store.user.token
        },
        method: "POST",
        body: zonesToSend
      });
    }
  };

  const deleteZone = async index => {
    //mise à jour de la nouvelle liste de zones et on répère la zone à supprimer avec splice
    let zoneToDelete = zones.splice(index, 1);
    zones = zones;
    //JSON à envoyer avec le nouveau tableau et la zone à supprimer
    let zonesToSend = JSON.stringify({ zones, zoneToDelete });
    console.log("zonesToSend", zonesToSend);

    await fetch("http://localhost:8000/API/territoires/zones", {
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json",
        Authorization: "Bearer " + $store.user.token
      },
      method: "DELETE",
      body: zonesToSend
    });
  };
  onMount(async function() {
    zones = await getZones();
  });
</script>

<style>
  .add-zones {
    margin-bottom: 50px;
  }
  .input-zones-add {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .input-zones-add input {
    margin-right: 10px;
  }

  li {
    height: 30px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  i {
    color: red;
    cursor: pointer;
  }

  .separator {
    height: 1px;
    width: 100%;
    margin-bottom: 25px;
    background-color: #9e9e9e;
  }
</style>

<main>
  <div class="add-zones">
    <h2>Gestion des quartiers ou zones</h2>
    <div class="separator" />
    <div class="input-zones-add">
      <input bind:value={zoneToAdd} />
      <Button color="primary" on:click={addZoneHandleClick}>+</Button>
    </div>
    <div class="list-zones">
      {#if zones.length > 0}
        <ul>
          {#each zones as zone, index}
            <li>
              <span>{zone}</span>
              <i
                class="fas fa-times"
                on:click|preventDefault={() => deleteZone(index)} />
            </li>
          {/each}

        </ul>
      {/if}
    </div>
  </div>
</main>
