<script>
  import {
    Modal,
    ModalBody,
    ModalFooter,
    ModalHeader,
    Button,
    Alert
  } from "sveltestrap";

  import { store } from "../../../auth.js";
  let geojsonToPost = "";
  let addAlertVisible = false;
  let delAlertVisible = false;
  let alertMessage = "";
  let deleteModalOpen = false;

  //////////////////////////////// GESTION MODAL SUPPRESSION ///////////////////////////////////////
  const toggleDeleteModal = () => {
    deleteModalOpen = !deleteModalOpen;
  };

  //////////////////////    DELETE de l'ensemble du contenu de la base     //////////////////////////
  ///////////////////////////////////////////////////////////////////////////////////////////////////
  const deleteDatabase = async e => {
    e.preventDefault();

    const res = await fetch("http://localhost:8000/API/territoires", {
      method: "DELETE",
      headers: { Authorization: "Bearer " + $store.user.token }
    });
    if (res.status == 200) {
      alertMessage = "Suppression réussie";
    } else {
      alertMessage = "Erreur dans la suppression";
    }

    toggleDeleteModal();
    //gestion de la visibilité de l'alerte pour l'import une fois que c'est envoyé // visible 2secondes
    delAlertVisible = true;
    setTimeout(() => {
      delAlertVisible = false;
    }, 2000);
  };
</script>

<style>
  .delete {
    position: relative;
  }

  .alert-delete {
    position: absolute;
  }
  .separator {
    height: 1px;
    width: 100%;
    margin-bottom: 25px;
    background-color: #9e9e9e;
  }
</style>

<main>

  <div class="delete">
    <h2>Remise à zéro de la base</h2>
    <div class="separator" />

    <Button
      style={'margin-left : 5px; width : 100px;'}
      color="danger"
      on:click={toggleDeleteModal}>
      Supprimer
    </Button>
    <div class="alert-delete">
      <Alert
        color="info"
        isOpen={delAlertVisible}
        toggle={() => (delAlertVisible = false)}>
        {alertMessage}
      </Alert>
    </div>

    <Modal isOpen={deleteModalOpen} {toggleDeleteModal}>
      <ModalHeader {toggleDeleteModal}>
        <i class="fas fa-exclamation-triangle" />
        Suppression de la base
      </ModalHeader>
      <ModalBody style="text-align : left;">
        Vous allez remettre à zéro toute la base...
        <br />
        Voulez-vous continuer ?
      </ModalBody>
      <ModalFooter>
        <Button color="danger" on:click={deleteDatabase}>Supprimer</Button>
        <Button color="secondary" on:click={toggleDeleteModal}>Cancel</Button>
      </ModalFooter>
    </Modal>

  </div>
</main>
