<script>
  import {
    Modal,
    ModalBody,
    ModalFooter,
    ModalHeader,
    Button,
    Alert
  } from "sveltestrap";

  import { store } from "../../../auth.js";

  let geojsonToPost = "";
  let addAlertVisible = false;
  let delAlertVisible = false;
  let alertMessage = "";
  let deleteModalOpen = false;

  //////////////////////////////// GESTION MODAL SUPPRESSION ///////////////////////////////////////
  const toggleDeleteModal = () => {
    deleteModalOpen = !deleteModalOpen;
  };

  //////////////////////   POST : Import du GEOJSON    //////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////////////////////////////////////////

  async function postGeojson(e) {
    e.preventDefault();
    //console.log("geojsonToPost", geojsonToPost);

    //post du contenu du textarea geojsonToPost
    const res = await fetch("http://localhost:8000/API/territoires", {
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json",
        Authorization: "Bearer " + $store.user.token
      },
      method: "POST",
      body: geojsonToPost
    });

    // on change l'alerte en fonction du resultat de l'import
    const json = await res.json();
    if (res.status == 200) {
      alertMessage = "vos territoires ont été importés avec succès";
    } else {
      alertMessage = "Il y a eu une erreur";
    }
    geojsonToPost = "";

    //gestion de la visibilité de l'alerte pour l'import une fois que c'est envoyé // visible 2secondes
    addAlertVisible = true;
    setTimeout(() => {
      addAlertVisible = false;
    }, 2000);
  }
</script>

<style>
  .import {
    margin-bottom: 50px;
  }

  .textarea {
    width: 100%;
    height: 50vh;
  }
  .send-btn {
    margin-left: auto;
    margin-top: 10px;
  }
  .alert-import {
    margin-top: 10px;
  }

  .separator {
    height: 1px;
    width: 100%;
    margin-bottom: 25px;
    background-color: #9e9e9e;
  }
</style>

<main>
  <div class="import">
    <h2>Importer votre territoire</h2>
    <div class="separator" />

    <div>
      Vous pouvez importer en faisant un copier/coller d'un fichier geoJSON pour
      créer votre territoire ou ajouter de nouveaux polygones.
    </div>
    <textarea class="textarea" bind:value={geojsonToPost} cols="40" rows="5" />
    <div class="send-btn">
      <Button color="primary" style=" width : 100px;" on:click={postGeojson}>
        Envoyer
      </Button>
    </div>

    <div class="alert-import">
      <Alert
        color="info"
        isOpen={addAlertVisible}
        toggle={() => (addAlertVisible = false)}>
        {alertMessage}
      </Alert>
    </div>
  </div>
</main>
