<script>
  import { link } from "svelte-spa-router";
  let icon = "+";
  let active = "";
  let open = false;

  const toggle = () => {
    open = !open;
    open ? ((active = "active"), (icon = "-")) : ((active = ""), (icon = "+"));
    console.log(open);
  };
</script>

<style>
  main {
    margin-bottom: 20px;
    height: 50px;
    width: 240px;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 50px;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    color: #eeeeee;
    font-weight: bold;
  }
  i {
    margin-right: 10px;
  }
  .open {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
  }

  main:hover {
    background-color: #212121;
  }
  .sub-menu {
    height: 0;
    padding-right: 20px;
    padding-left: 20px;
    overflow: hidden;
    transition: 0.3s ease;
  }

  .active {
    height: 100%;
  }

  .sub-menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 50px;

    line-height: 50px;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    color: #212121;
  }
  ul {
    list-style-type: none;
    padding: 0;
    background-color: #eeeeee;
    border-radius: 5px;
    box-shadow: 0 0 10px;
  }

  .sub-menu a {
    text-decoration: none;
  }
</style>

<main on:click={toggle}>

  <i class="fas fa-lock" />
  Administrateur
  <div class="open">{icon}</div>

</main>
<div class={'sub-menu ' + active}>
  <ul>
    <a href="/dashboard" use:link>
      <li>
        <i class="fas fa-tachometer-alt" />
        Dashboard
      </li>
    </a>
    <a href="/demandes" use:link>
      <li>
        <i class="fas fa-envelope" />
        Demandes
      </li>
    </a>
    <a href="/territoires-admin" use:link>
      <li>
        <i class="fas fa-globe-europe" />
        Territoire
      </li>
    </a>
    <a href="/assemblee" use:link>
      <li>
        <i class="fas fa-users" />
        Assemblée
      </li>
    </a>
    <a href="/parametres" use:link>
      <li>
        <i class="fas fa-wrench" />
        Paramètres
      </li>
    </a>

  </ul>
</div>
