<script>
  import MyAccount from "./routes/MyAccount.svelte";
  import Demandes from "./routes/Demandes.svelte";
  import Territories from "./routes/Territories.svelte";
  import Parametres from "./routes/parametres.svelte";
  import Admin from "./routes/partials/Admin.svelte";
  import Login from "./routes/Login.svelte";
  import Dashboard from "./routes/Dashboard.svelte";
  import TerritoriesAdmin from "./routes/TerritoriesAdmin.svelte";
  import Congregation from "./routes/Congregation.svelte";
  import Territory from "./routes/Territory.svelte";
  import User from "./routes/User.svelte";
  import { store } from "./auth.js";

  import Router from "svelte-spa-router";
  import { link } from "svelte-spa-router";

  const routes = {
    "/": MyAccount,

    "/demandes": Demandes,

    "/territoires": Territories,

    "/dashboard": Dashboard,

    "/parametres": Parametres,

    "/territoires-admin": TerritoriesAdmin,

    "/assemblee": Congregation,

    "/login": Login,

    "/proclamateur/:id": User,

    "/territoire/:id": Territory
  };
</script>

<style>
  :global(body) {
    /* this will apply to <body> */
    display: block;
    padding: 0;
  }

  header {
    width: 250px;
    height: 100vh;
    background-color: #424242;
    position: fixed;
    box-shadow: 0 0 20px;
  }
  .header__links {
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;

    color: white;

    padding-left: 0;
    padding-top: 100px;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
  }
  .header__links li {
    margin-bottom: 50px;
    height: 50px;
    width: 240px;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 50px;
  }

  .header__links a {
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
  }

  .header__links li:hover {
    background-color: #212121;
  }

  .main {
    padding-left: 250px;
    display: block;
  }

  i {
    margin-right: 20px;
  }

  @media print {
    /* All your print styles go here */
    header {
      display: none !important;
    }
    .main {
      padding: 0;
    }
  }
</style>

<svelte:head>
  <link
    href="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.css"
    rel="stylesheet" />

  <script src="https://unpkg.com/@turf/turf/turf.min.js">

  </script>
  <script
    src="https://kit.fontawesome.com/899ebfcecf.js"
    crossorigin="anonymous">

  </script>
</svelte:head>

<main>

  {#if $store.loggedIn}
    <header>
      <ul class="header__links">
        <li>
          <a href="/" use:link>
            <i class="fas fa-user-tie" />
            Mon compte
          </a>
        </li>
        <li>
          <a href="/territoires" use:link>
            <i class="fas fa-map-marked-alt" />
            Territoire
          </a>
        </li>

      </ul>
      {#if $store.user.admin}
        <Admin />
      {/if}

    </header>
    <div class="main">
      <Router {routes} />
    </div>
  {:else}
    <Login />
  {/if}

</main>
